body {
    background-color: whitesmoke;
}

.wrapper {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.smile, .wink {
    font-family: monospace;
    font-size: 8rem;
    font-weight: bold;
    text-align: center;
    color: dimgrey;
}

.smile {
    display: block;
}

.wink {
    display: none;
}

.wrapper {
    display: inline-block;
}

.wrapper:hover .smile {
    display: none;
}

.wrapper:hover .wink {
    display: block;
}